body {
    background: url(/img/Background.gif) no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 80px;
}

h1 {
    font-size: 36px;
    color: #E6E6E6;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #E6E6E6;
    text-align: center;
}

h3 {
    font-size: 22px;
    text-align: center;
}

h5 {
    font-size: 18px;
    font-weight: normal;
    color: #E6E6E6;
    text-align: center;
}

a {
    color: #E6E6E6;
    text-decoration: none;
}

a:hover {
    color: #ff4500;
    transition: color 0.3s ease;
}

nav {
    background-color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fa572e;
}

ol, ul {
    list-style-type: none;
    text-align: center;
}

li {
    font-size: 24px;
    margin: 20px 0;
}

img {
    margin: 10px auto;
    width: 70%;
    max-width: 400px;
}

dl {
    margin: 40px 0;
    text-align: center;
}

dt {
    margin: 20px 0;
}

dl img {
    width: 100%;
    max-width: 800px;
}

dl img:hover {
    border: solid 2px #fa572e;
    margin: -2px;
    margin: 10px auto;
  }

hr.rounded {
    border-top: 1px solid #1f1f1f;
  }